<h2 class="modal-title">Edit Resident</h2>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="name" class="form-label">Name:</label>
      <input type="text" id="name" [(ngModel)]="resident.name" name="name" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="lastName" class="form-label">Last Name:</label>
      <input type="text" id="lastName" [(ngModel)]="resident.lastName" name="lastName" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="personalNumber" class="form-label">Personal Number:</label>
      <input type="text" id="personalNumber" [(ngModel)]="resident.personalNumber" name="personalNumber" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="birthday" class="form-label">Birthday:</label>
      <input type="date" id="birthday" [(ngModel)]="resident.birthday" name="birthday" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="phoneNumber" class="form-label">Phone Number:</label>
      <input type="text" id="phoneNumber" [(ngModel)]="resident.phoneNumber" name="phoneNumber" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="email" class="form-label">Email:</label>
      <input type="email" id="email" [(ngModel)]="resident.email" name="email" class="form-control" required />
    </div>
    <div class="form-check mb-3">
      <input type="checkbox" id="isOwner" [(ngModel)]="resident.isOwner" name="isOwner" class="form-check-input" />
      <label for="isOwner" class="form-check-label">Is Owner</label>
    </div>
    <div class="mb-3">
      <label for="username" class="form-label">Username:</label>
      <input type="text" id="username" [(ngModel)]="resident.username" name="username" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="password" class="form-label">Password:</label>
      <input type="password" id="password" [(ngModel)]="resident.password" name="password" class="form-control" required />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="onSave()">Save</button>
  <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
</div>
