<h2 class="modal-title">Add New Apartment</h2>
<div class="modal-body">
  <form>
    <div class="mb-3">
      <label for="number" class="form-label">Apartment Number:</label>
      <input type="text" id="number" [(ngModel)]="newApartment.number" name="number" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="floor" class="form-label">Floor:</label>
      <input type="text" id="floor" [(ngModel)]="newApartment.floor" name="floor" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="rooms" class="form-label">Rooms:</label>
      <input type="text" id="rooms" [(ngModel)]="newApartment.rooms" name="rooms" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="numberOfResidents" class="form-label">Number Of Residents:</label>
      <input type="text" id="numberOfResidents" [(ngModel)]="newApartment.numberOfResidents" name="numberOfResidents" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="fullArea" class="form-label">Full Area:</label>
      <input type="text" id="fullArea" [(ngModel)]="newApartment.fullArea" name="fullArea" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="livingArea" class="form-label">Living Area:</label>
      <input type="text" id="livingArea" [(ngModel)]="newApartment.livingArea" name="livingArea" class="form-control" required />
    </div>
    <div class="mb-3">
      <label for="primaryResidentId" class="form-label">Primary Resident Id:</label>
      <input type="text" id="primaryResidentId" [(ngModel)]="newApartment.primaryResidentId" name="primaryResidentId" class="form-control" required />
    </div>
  </form>
</div>
<div class="modal-footer">
  <button class="btn btn-primary" (click)="onSave()">Save</button>
  <button class="btn btn-secondary" (click)="onCancel()">Cancel</button>
</div>
