<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
          aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
    <ul class="navbar-nav">
    </ul>
    <ng-container *ngIf="auth.isAuthenticated$ | async; else loggedOut">
      <div class="navbar-text">
        Welcome, {{ getRole(auth.user$ | async) }}!
      </div>
      <button class="btn btn-primary" (click)="logout()">Log out</button>
    </ng-container>
    <ng-template #loggedOut>
      <button class="btn btn-primary" (click)="login()">Log in</button>
    </ng-template>
  </div>
</nav>
