
<div>
  <h2>Houses</h2>
  <table class="table">
    <thead>
    <tr>
      <th>House Number</th>
      <th>Street</th>
      <th>City</th>
      <th>Country</th>
      <th>Postcode</th>
      <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let house of houses">
      <td>{{ house.number }}</td>
      <td>{{ house.street }}</td>
      <td>{{ house.city }}</td>
      <td>{{ house.country }}</td>
        <td>{{ house.postcode }}</td>
      <td><a [routerLink]="'/house/' + house.id">View Details</a></td>    </tr>
    </tbody>
  </table>
</div>
