<h1>All houses registered to database</h1>
<div>
  <table class="table">
    <thead class="table-dark">
    <tr>
      <th scope="col">House Number</th>
      <th scope="col">Street</th>
      <th scope="col">City</th>
      <th scope="col">Country</th>
      <th scope="col">Postcode</th>
      <th scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let house of houses">
      <td>{{ house.number }}</td>
      <td>{{ house.street }}</td>
      <td>{{ house.city }}</td>
      <td>{{ house.country }}</td>
        <td>{{ house.postcode }}</td>
        <td><a class="link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" [routerLink]="['/house', house.id]">View Details</a></td>    </tr>
    </tbody>
  </table>
</div>
