<div class="container mt-4" *ngIf="apartment">
  <h2>Apartment Details</h2>
  <div class="table-responsive">
    <table class="table table-bordered">
      <tbody>
      <tr>
        <td class="fw-bold">Apartment Number:</td>
        <td>{{ apartment.number }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Floor:</td>
        <td>{{ apartment.floor }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Rooms:</td>
        <td>{{ apartment.rooms }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Number of residents:</td>
        <td>{{ apartment.numberOfResidents }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Full area:</td>
        <td>{{ apartment.fullArea }}</td>
      </tr>
      <tr>
        <td class="fw-bold">Living area:</td>
        <td>{{ apartment.livingArea }}</td>
      </tr>
      </tbody>
    </table>
    <button class="btn btn-outline-dark" (click)="toggleEditMode()">Edit</button>
  </div>

  <form *ngIf="isEditMode && editApartment" (ngSubmit)="updateApartment()">
    <div class="form-group">
      <label for="number">Apartment Number:</label>
      <input type="text" id="number" [(ngModel)]="editApartment.number" name="number" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="floor">Floor:</label>
      <input type="text" id="floor" [(ngModel)]="editApartment.floor" name="floor" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="rooms">Rooms:</label>
      <input type="text" id="rooms" [(ngModel)]="editApartment.rooms" name="rooms" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="numberOfResidents">Number of residents:</label>
      <input type="text" id="numberOfResidents" [(ngModel)]="editApartment.numberOfResidents" name="numberOfResidents" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="fullArea">Full area:</label>
      <input type="text" id="fullArea" [(ngModel)]="editApartment.fullArea" name="fullArea" class="form-control" required />
    </div>
    <div class="form-group">
      <label for="livingArea">Living area:</label>
      <input type="text" id="livingArea" [(ngModel)]="editApartment.livingArea" name="livingArea" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Save</button>
    <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">Cancel</button>
  </form>


  <div class="mt-4">
    <h3>Residents</h3>
    <div *ngIf="apartmentResidents.length > 0; else noResidents">
      <table class="table">
        <thead class="table-dark">
        <tr>
          <th>Name</th>
          <th>Last Name</th>
          <th>Personal Number</th>
          <th>Birthday</th>
          <th>Phone Number</th>
          <th>Email</th>
          <th>Is Owner</th>
          <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let resident of apartmentResidents">
          <td>{{ resident.name }}</td>
          <td>{{ resident.lastName }}</td>
          <td>{{ resident.personalNumber }}</td>
          <td>{{ resident.birthday }}</td>
          <td>{{ resident.phoneNumber }}</td>
          <td>{{ resident.email }}</td>
          <td>{{ resident.isOwner }}</td>
          <td>
          <button class="btn btn-outline-dark" (click)="openEditDialog(resident)">Edit</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
    <ng-template #noResidents>
      <p>No residents assigned to this apartment.</p>
    </ng-template>
  </div>
</div>
  <div *ngIf="!apartment">
    <p>Loading apartment details...</p>
  </div>
